<div class="container mt--8 pb-5">
    <div class="row justify-content-center align-box-center">
        <div class="col-lg-7">
            <div class="card shadow border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <img src="../static/logo/logo.gif" alt="Logo" width="35%" height="35%">

                    </div>

                    <form (submit)="getMultiDetection()" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" multiple="true" id="inputGroupFile02" data-toggle="modal"
                                    data-target="#uploadModal" (change)="getfile($event)">
                                <label class="custom-file-label" for="inputGroupFile02">{{label}}</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" type="button" data-toggle="modal"
                                    data-target="#preview" >Preview</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="detectType">Identify</label>
                            <select class="form-control" name="detectType" [(ngModel)]="detectType">
                                <option selected disabled>Choose...</option>
                                <option>Person</option>
                                <option>Car</option>
                                <option>Chair</option>
                                <option>Bird</option>
                                <option>Dog</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success my-4" data-toggle="modal">
                            <span class="spinner-border-sm" [class.spinner-border]="isBusy" role="status" aria-hidden="true"></span>
                            Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="preview" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" *ngFor="let image of showimage; let i = index">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{image}}" alt="First slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                <!-- <img src="{{image}}" class="img-rounded" width="100%" height="100%"
                    name="image" /> -->
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" download>Download</a>
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
