<!-- <div class="container mt--8 pb-5">
    <div class="row justify-content-center align-box-center">
        <div class="col-lg-7">
            <div class="card shadow border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <img src="../static/logo/logo.gif" alt="Logo" width="35%" height="35%">

                    </div>

                    <form (submit)="getMultiDetection()" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="custom-file" appDragndrop (dropedFiles)="getDropedFiles($event)">
                                <input type="file" class="custom-file-input" multiple="true" id="inputGroupFile02" data-toggle="modal"
                                    data-target="#uploadModal" (change)="getfile($event)">
                                <label class="custom-file-label" for="inputGroupFile02">{{label}}</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" type="button" data-toggle="modal"
                                    data-target="#preview" >Preview</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="detectType">Identify</label>
                            <select class="form-control" name="detectType" [(ngModel)]="detectType">
                                <option selected disabled>Choose...</option>
                                <option>Person</option>
                                <option>Car</option>
                                <option>Chair</option>
                                <option>Bird</option>
                                <option>Dog</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success my-4" data-toggle="modal">
                            <span class="spinner-border-sm" [class.spinner-border]="isBusy" role="status" aria-hidden="true"></span>
                            Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <div class="wrapper">
      <header>
        <h1>Stock photo</h1>
        <span>ID: 5988014</span>
      </header>
  
      <div class="ways">
        <ul>
          <li class="active">
            submit
          </li>
          <li>
            discussion
          </li>
        </ul>
      </div>
  
      <div class="sections">
  
        <section class="active">
          <input type="text" placeholder="Title" id="title" />
          <select id="category">
            <option value="summmer">summer</option>
            <option value="winter">winter</option>
            <option value="working">working</option>
            <option value="road">road</option>
          </select>
  
          <div class="select-option">
            <div class="head">Category</div>
            <div class="option"></div>
          </div>
  
  
          <div class="images" appDragndrop (dropedFiles)="getDropedFiles($event)">
              <span class="overlay-name">Drag and Drop Files here or click</span>
            <div class="pic">
              <!-- <form> -->
                <input type="file" class="file-control" multiple=true placeholder="Drag and Drop Files here or click" (change)="getfile($event)">
              <!-- </form> -->
            </div>
          </div>
  
  
        </section>
  
        <section>
          <input type="text" placeholder="Topic" id="topic" />
          <textarea placeholder="something..." id="msg"></textarea>
        </section>
  
      </div>
  
      <footer>
        <ul>
          <li><span id="reset">reset</span></li>
          <li><button class="btn btn-primary btn-sm" [class.spinner-border]="isBusy">Upload</button></li>
        </ul>
      </footer>
  
    </div>
    <div class="notification"></div>